<form [formGroup]="form">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" formControlName="email"></td>
        </tr>
        <tr>
            <td>Comments: </td>
            <td><input type="text" formControlName="comments"></td>
        </tr>
        <tr>
            <td></td>
            <!-- <td><button type="button" (click)="processForm()">Submit</button></td> -->
            <ng-content></ng-content>
        </tr>
    </table>





</form>