<form [formGroup]="form" (ngSubmit)="loginUser()">
    <table>
        <tr>
            <td>Email: </td>
            <td>
                <input type="email" formControlName="email">
            </td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>
                <input type="password" formControlName="password">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>